  REGISTRY: registry.example.com
  IMAGE_NAME: demo/velero-test-app
  TAG: latest
  FULL_IMAGE: "{{.REGISTRY}}/{{.IMAGE_NAME}}:{{.TAG}}"
  NPM_PROXY: https://npm.example.com/
  NAMESPACE: velero-demo
  BACKUP_NAME: test-backup
  PROD_CONTEXT: prod
  DR_CONTEXT: dr
  AWS_ACCESS_KEY_ID: "AK...."         
  AWS_SECRET_ACCESS_KEY: "......" 
  BUCKET_NAME: "velero-bucket"
  REGION: "us-west-1"
  STORAGE_LOCATION: "s3-manual"